.chat-main
  .header
    .left-header
      .left-header__title
        = @group.name
      .left-header__members
        %p Member:
        - @group.users.each do |user|
          .member
            = user.name
    .right-header
      = link_to edit_group_path(@group) do
        .right-header__btn
          Edit     
  .chat-main__group-messages
    = render @messages
                  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :message, class: 'form__message', placeholder: 'type a message'
      .form__post
        = f.label :image, class: 'form__post__image' do
          = icon('fa', 'image',class: 'icon')
          =f.file_field :image, class: 'hide'
      .form_submit    
        = f.submit 'Send', class: 'form__submit'